.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(12, 3, 75, 0.7), rgba(10, 2, 65, 0.7)),
        url("../../assets/real-estate-hero.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
    max-width: 1200px;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}
.hero-text p{
    max-width: 1000px;
    margin: 10px auto 20px;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 30px;
}
.search{
    padding: 30px;
    background-color: rgb(107, 15, 193);
    border: none;
    border-radius: 10px;
}
.search .label{
    display: block;
    font-size: 14px;
    margin-bottom: 2px;
}
.search input{
    padding: 10px 30px;
    margin: 10px;
    border: none;
    border-radius: 4px;
}
.search input:focus{
    outline: 2px  rgba(0, 0, 255, 0.5);
    border-color: rgba(0, 0, 255, 0.5);
}
.search button{
    padding: 10px 40px;
    margin-left: 10px;
    background-color: rgb(82, 26, 134);
    border: none;
    color: inherit;
    border-radius: 7px;
    cursor: pointer;
}


@media (max-width: 850px) {
    .hero-text h1{
        font-size: 50px;
    }
    .hero-text p{
        font-size: 20px;
        padding: 10px 0;
    }
    .search{
        padding: 50px;
        border-radius: 0px;
        display: block;
    }
    .search .label{
        font-size: 20px;
    }
    .search input{
        display: block;
        width: 80%;
        padding: 15px 10px;
        margin: 20px 0;
    }
    .search button{
        padding: 10px 50px;
        font-size: 20px;
    }
}

@media (max-width: 650px) {
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
        padding-top: 100px;
    }
    .hero-text p{
        font-size: 14px;
        margin: 15px auto 30px;
    }
    .search{
        width: 100%;
        border-radius: 0px;
        align-items: center;
        text-align: center;
    }
    .search .label {
        font-size: 13px;
    }
    .search input{
        font-size: 12px;
    }
}